<div class="cont">      
  <%= render 'shared/navbar'  %>
  <%= render 'shared/left_navbar' %>
  <%= render 'shared/user_profile' %>
  <main>
    <%= image_tag ("4.jpg"), class: 'cover-img' %>
    <header class="tab">
      <%= link_to "Posts", '', class: "tab-link is-flex"%>
    </header>

    <div class="main-wrapper">
      <div class="new-posts-container has-background-white mt-5">
          <div class="new-posts-header">
            NEW POSTS
          </div>
          <% @user.posts.each do |post| %>
          <div class="new-posts-list py-5">
            <div class="post is-flex">
              <%= image_tag ("prinny.jpeg"), class: 'profile-img pr-3' %>
              <div class="post-content">
                <%= link_to users_show_path(post.author) do %>
                  <%= post.author.full_name %>
                <% end %> <br>
                <%= post.text %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </main>
</div>