<section class="suggestion">
  <div class="user-header is-flex">
    <div class="user-links is-flex is-justify-content-center is-align-items-center pt-5">
      <%=  follow_buttons(@user) %>
      <%= image_tag ("prinny.jpeg"), class: 'show-img pl-3' %>
    </div>
    <div class="user-details is-flex is-justify-content-center is-align-items-center is-flex-direction-column py-4">
      <p><%= @user.full_name %></p>
      <p>@<%= @user.username %></p>
    </div>
    <div class="user-status is-flex is-justify-content-space-around has-text-centered">
      <div class="py-5 pl-2"> <%= @user.posts.count %> <br> tweets </div>
      <div class="py-5 b-lr px-4"> <%= @user.followers.count %> <br> following </div>
      <div class="py-5 pr-4"> <%= @user.followed.count %> <br> followers </div>
    </div>
  </div>
  <div class="follow-suggestion p-5">
    <div class="py-2 b-b">
      FOLLOWED BY
    </div>
    <% @user.followers.includes(:followed).each do |f| %>
      <div class="user-display is-flex py-4">
        <%= image_tag ("prinny.jpeg"), class: 'suggestion-img pr-3' %>
        <div>
          <p><%= f.followed.full_name %></p>
          <p>Followed by</p>
        </div>
        <%= follow_buttons(f.followed) %>
      </div>
    <% end %>
  </div>
</section>